<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<div class="container body-content" ng-controller="loginController as vm">
    <div class="row">
        <div class="col-md-6">
            <h2>Login</h2>
            <section>
                <form>
                    <div class="form-group">
                        <label class="control-label" for="username">Username: </label>
                        <div>
                            <input class="form-control" id="username" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="username">Username: </label>
                        <div>
                            <input class="form-control" id="username" />
                        </div>
                    </div>

                    <button class="btn btn-primary">Login</button>
                </form>
            </section>
        </div>
        <div class="col-md-6">
            <h2>Register</h2>
            <section>
                <form>
                    <div class="form-group">
                        <label class="control-label" for="email">Email: </label>
                        <div>
                            <input type="email" class="form-control" id="email" ng-model="vm.registerEmail" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="password">Password: </label>
                        <div>
                            <input type="password" class="form-control" id="password" ng-model="vm.registerPassword"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="confirmPassword">Confirm Password: </label>
                        <div>
                            <input type="password" class="form-control" id="confirmPassword" ng-model="vm.registerConfirmPassword"/>
                        </div>
                    </div>

                    <button class="btn btn-primary" ng-click="vm.registerUser()">Register</button>
                </form>
            </section>
        </div>
    </div>
</div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/appScripts")
</body>
</html>